apache-airflow-providers-mysql==3.4.0
#astro-projects[postgres]
beautifulsoup4==4.11.1
httpx
fsspec
gcsfs
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
google-trans-new
googleapis-common-protos
googletrans==3.1.0a0
grpcio
grpcio-status
lxml
matplotlib
nltk
numpy
oauthlib
pandas
pandas-gbq
Pillow
pyarrow
pycparser
pydata-google-auth
PyYAML
regex
requests
requests-oauthlib
seaborn
textblob
urllib3
sqlalchemy
apache-airflow-providers-dbt-cloud[http]
dbt-postgres
kafka-python
apache-airflow-providers-apache-kafka
astro-sdk-python[postgres]
mysql-connector-python
mysqlclient
mysql
azure-storage-blob
azure-storage-file-datalake
python-dotenv
#markupsafe==2.0.1 
#wtforms==2.2
# amazon,google,snowflake,
